@import './iconfont/iconfont.css';
@import './common.scss';

body {
  margin: 0;
  background-color: #fff;
  line-height: 1;
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'Pingfang SC', 'Lantinghei SC', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  word-break: break-all;
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, input, textarea, button {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
}
ul, ol {
  list-style-type: none;
}
img {
  border: none;
  vertical-align: middle;
}
a,
.g-link {
  text-decoration: none;
  color: #333;
}

input, textarea {
  border-radius: 0;
}
input, textarea, select, button {
  outline: none;
}
input[disabled] {
  opacity: 1;
}
input[type=button],
input[type=submit],
input[type=reset] {
  -webkit-appearance: none;
  background: #fff;
}
button {
  outline: none;
  border: none;
  background: #fff;
}


/* 清浮动 */
.g-clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}


/* 单行内容，如有超出则以省略号结尾 */
.g-singleline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 多行内容，只兼容webkit（默认 2 行） */
.g-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 行内垂直居中 */
.g-vmid {
  vertical-align: middle;
}


/* 渐现 */
@keyframes k-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.g-fade-in {
  animation-name: k-fade-in;
  animation-duration: 0.35s;
}

.g-title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.g-progress {
  .el-progress-bar {
    width: 68%;
    margin: 0;
    padding: 0;
  }
  .el-progress__text {
    position: absolute;
  }
}

a {
  text-decoration: none;
  color: #2196f3;
}
.btn {
  display: inline-block;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  line-height: 1;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #263238;
  cursor: pointer;
}

.btn-main {
  background: $main_color;
  color: #fff;
  border-radius: 20px;
}

.clearfix {
  zoom: 1;

  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.c-icon {
  font-size: 16px;
  vertical-align: middle;
}


.spinner {
  width: 40px;
  height: 40px;
  background-color: $main_color;

  margin: 140px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.g-loadmore {
  line-height: 44px;
  text-align: center;
  color: #999;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}